.footer {
    background: #171c24;
    color: #fff;
    padding: 40px 0;
    text-align: center;
  }
  
  .footer-content {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  
  .footer-section {
    max-width: 300px;
    cursor: pointer;
  }
  
  .footer-section h2 {
    color: #ff3d00;
    font-size: 24px;
    margin-bottom: 10px;
    cursor: pointer;
  }
  
  .footer-section p {
    font-size: 14px;
  }
  
  .social-icons a {
    color: #fff;
    text-decoration: none;
    font-size: 24px;
    margin: 0 10px;
  }
  
  .footer-bottom {
    background: #1e232b;
    padding: 10px 0;
    cursor: pointer;
  }
  
  .footer-bottom p {
    font-size: 14px;
  }
  