body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 0;
  background-color: blanchedalmond;
}

.slider-container {
  width: 100%;
  margin: auto;
  max-height: 500px;
  overflow: hidden;
}


.feature-section {
  display: flex;
  justify-content: space-between; 
  padding: 2rem;
}

.feature {
  text-align: center;
  width: 350px;
  padding: 5px;
  height: 500px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  cursor: pointer;
  background-color: white;
  display: flex;
  flex-direction: column; 
  justify-content: space-between; 
}

.feature button {
  color: white;
  background-color: rgb(19, 181, 19);
  border: none;
  border-radius: 0; 
}

.carousel-item img {
  height: 700px;
  width: 100%;
}

.container {
  margin-top: 20px;
}

a p {
  font-size: 20px;
}

.link-style {
  font-size: 20px;
}

.body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
}

.header {
  padding: 10px;
  text-align: center;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.links {
  display: flex;
  gap: 40px;
}
.container button:hover {
  background-color: #0056b3;
}
.links a {
  color: white;
  text-decoration: none;
}
